.card-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  div {
    width: 100%;
    height: 100%;

    .retro-card {
      width: 90%;
      height: 95%;
    }

    .front-card {
      width: 6.5em;
      height: 85%;
      position: relative;
      left: 1.3em;
    }
  }

  .front-card-contianer {
    position: relative;
    top: 9em;
  }
}
