@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

button {
  background-color: blue;
  color: white;
  font-weight: bolder;
  border: blue;
  border-radius: 2em;
  height: 4em;
  box-shadow: rgb(0 0 0 / 64%) -6px 10px 19px 0px;
  cursor: pointer ;
}
